# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Tensorflow
4. Keras
5. Scipy
6. Matplotlib

| Data Science Tools |
|--------------------|
| Apache Spark |
| Hadoop |
| Tableau |
| Power BI |
| MATLAB |
| KNIME |

Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
mins = 200
hrs = 200/60
hrs

3.3333333333333335

**Objectives**

- To list some of the popular languages used in data science
- To list some of the popular libraries in those languages
- List popular tools used by data scientists
- Perform arithmetic operations in python

## Author
Shantanav Kapse